
body {
  font-family: helvetica;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0 auto;
  width: 1200px;
  padding: 20px;
  padding-left: 15px;
  padding-top: 40px;
}

.block {
  display: block;
}

form {
  float: left;
  width: 600px;
  margin-left: 160px;
}

#remove_form {
  margin-left: 0px;
}


fieldset {
  padding: 20px;
  padding-left: 0px;
  display: inline-block;
  font-size:
}

button {
  display: block;
}

input[type="text"] {
  padding: 7px;
  border: solid 1px #000;
  border-radius: 3px;
}

input[type="text"]:focus {
  background: #f6f8fa;
}

button {
  margin-bottom: 20px;
  border: none;
  padding: 8px 18px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
}

section {
  margin: 0 auto;
  width: 1200px;
  overflow: scroll;
  margin-bottom: 80px;
}

table {

}

thead {
  font-weight: bold;
}

td {
  padding: 20px;
  border: solid 1px #dfe2e5;
  text-align: center;
}

tr:nth-child(2n) {
  background: #f6f8fa;
}
