
body {
  font-family: helvetica;
}

h1 {
  font: 2em bold;
  padding: 20px;
}

fieldset {
  padding: 20px;
  display: inline-block;
  font-size:
}

button {
  display: block;
}

input[type="text"] {
  padding: 7px;
  margin-left: 7px;
  border: solid 1px #000;
  border-radius: 3px;
}

input[type="text"]:focus {
  background: #f6f8fa;
}

button {
  margin-left: 20px;
  margin-bottom: 20px;
  border: none;
  padding: 8px 18px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
}

table {
  margin-left: 20px;
  margin-bottom: 80px;
}

thead {
  font-weight: bold;
}

td {
  padding: 20px;
  border: solid 1px #dfe2e5;
  text-align: center;
}

tr:nth-child(2n) {
  background: #f6f8fa;
}
