/* Color Scheme: #BF3D2D, #CA776C (rgba(202,119,108,0.19)), #3F140F*/

/*GENERAL*/

body {
  background: rgba(202,119,108,0.19);
  font-size: 20px;
}

.clearfix {
  clear: both;
}

h1 {
  font: 3.5em bold;
  color: #3F140F;
}

h2 {
  font: 2em bold;
}

button {
  background: #BF3D2D;
}

/*ELEMENTS*/

header {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  background: #3F140F;
  z-index: 999;
}

header img {
  width: 50px;
}

nav {
  width: 960px;
  margin: 0 auto;
  z-index: 9999;
}

nav li {
  display: inline-block;
  margin-top: 30px;
  margin-left: 90px;
}

nav li:first-child {
  margin-left: 0px;
  margin-top: 10px;
  float:left;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
}

.main-pic {
  position: relative;
  transform: skewY(-5deg);
  transform-origin: 100%;
  z-index: -1;
}

.main-pic img {
  width: 100%;
}

.main-pic h1 {
  position: absolute;
  bottom: 90px;
  width: 100%;
  text-align: center;
}

.about {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 120px;
}

.about p {
  margin-top: 30px
}

.shop {
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

.shop h2 {
  margin-bottom: 30px;
}

.shop img {
  padding: 0 15px;
  height: 300px;
  margin: 0 auto
}

.family {
  margin-top: 60px;
  text-align: center;
}

.family img {
  margin-top: 30px;
}

.method {
  margin-top: 30px;
  text-align: center;
}

.method h2 {
  margin-bottom: 30px;
}

.method p {
  width: 300px;
  display: inline-block;
  margin-bottom: 30px;
}

.loc {
  margin: 60px 0;
  text-align: center;
}

footer {
  margin-top: 30px;
  height: 150px;
  width: 100%;
  background: #3F140F;
}

footer img {
  width: 100px;
}

.footnav li {
  margin-left: 120px;
  margin-top: 70px;
}

.footnav li:first-child {
  margin-left: 0;
  margin-top: 20px;
  float: left;
}

.footer li:last-child {
  color: white;
  float:right;
  margin-top: 70px;
}
